:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A0F14;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html {
    background-color: #0A0F14;
}

* {
    margin: 0;
}

h1.letter {
    /* visibility: hidden; */
    color: #DCE6D2;
    font-size: 4rem;
    visibility: hidden;
}

h1.first {
    font-weight:300;
}

.subheader {
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  color: #DCE6D2;
  font-size: 1.5rem;
  font-weight: 100;
  visibility: hidden;
  border-top: 1px solid #DCE6D2;
} 

#name {
    display: flex;
}

.fade-in {
    animation: fadeIn 2s ease-in;
}



@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opcaity: 100%;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    mix-blend-mode:difference;
}

main {
    background-color: #0A0F14;
}

.gap50 {
  height: 48vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}